a.octave-badge {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.octave-badge {
    display: block;
    font-family: var(--octave--font-family-inter-tight);
    font-size: var(--octave--font-size-x-small);
    font-weight: var(--octave--font-weight-bold);
    line-height: var(--octave--line-height-tight);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: var(--octave--radius-md);
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
}

.octave-badge--radius-sm {
    border-radius: var(--octave--radius-sm);
}

.octave-badge--radius-md {
    border-radius: var(--octave--radius-md);
}

.octave-badge--radius-lg {
    border-radius: var(--octave--radius-lg);
}

.octave-badge--radius-full {
    border-radius: var(--octave--radius-full);
}

.octave-badge--radius-none {
    border-radius: 0;
}

.octave-badge--neutral {
    background-color: var(--octave--color-neutral-100);
    border-color: var(--octave--color-neutral-100);
    color: var(--octave--color-neutral-800);
}

.octave-badge--light {
    background-color: var(--octave--color-white);
    border-color: var(--octave--color-white);
    color: var(--octave--color-neutral-800);
}

.octave-badge--info {
    background-color: var(--octave--color-info);
    border-color: var(--octave--color-info);
    color: var(--octave--color-white);
}

.octave-badge--success {
    background-color: var(--octave--color-success);
    border-color: var(--octave--color-success);
    color: var(--octave--color-black);
}

.octave-badge--warning {
    background-color: var(--octave--color-warning);
    border-color: var(--octave--color-warning);
    color: var(--octave--color-black);
}

.octave-badge--error {
    background-color: var(--octave--color-error);
    border-color: var(--octave--color-error);
    color: var(--octave--color-white);
}

.octave-badge--overlay-dark {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
    color: var(--octave--color-white);
}

.octave-badge--overlay-light {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    color: var(--octave--color-neutral-800);
}
