.octave-hero {
    padding-block: var(--octave--spacing-2-x-large);

    .octave-flex-group {
        gap: var(--octave--spacing-3-x-large);
    }
}

.octave-hero__content {
    flex: 1;
}

.octave-hero__code {
    flex: 0 0 40%;
    min-width: 0;

    > * {
        margin-block: 0;
    }
}

.octave-hero h1 {
    font-size: var(--octave--font-size-5-x-large);
    font-weight: var(--octave--font-weight-normal);
    color: var(--octave--color-neutral-900);
    line-height: 1.1;
    letter-spacing: -2px;
    margin-top: 0;

    span {
        display: block;

        &.italic {
            font-family: var(--octave--font-family-source-serif-4);
            font-weight: var(--octave--font-weight-extra-light);
            font-style: italic;
        }
    }
}
