@use '../../styles/c2b/octave-variables' as *;

.octave-hero {
    padding-bottom: var(--octave--spacing-small);

    .octave-flex-group {
        gap: var(--octave--spacing-3-x-large);
    }
}

.octave-hero__content {
    flex: 1;
}

.octave-hero__code {
    min-width: 0;

    @include below-tablet {
        display: none;
    }

    @include above-tablet {
        flex: 0 0 40%;
    }

    > * {
        margin-block: 0;
    }
}
