@use '../../styles/c2b/parlour-variables' as *;

.parlour-container > * {
    margin-left: auto;
    margin-right: auto;
}

.parlour-container > * + * {
    margin-block-start: var(--parlour--spacing-medium);
    margin-block-end: 0;
}

.parlour-container > .has-global-padding,
.has-global-padding > .parlour-container.alignfull > .has-global-padding {
    padding-left: 0;
    padding-right: 0;

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

// .parlour-container > .has-root-padding.has-global-padding,
.parlour-container.aligncontent,
.parlour-container.alignwide,
.parlour-container.alignfull {
    // padding-right: var(--parlour--root-padding-right);
    // padding-left: var(--parlour--root-padding-left);
    padding-right: var(--parlour--spacing-3-x-large);
    padding-left: var(--parlour--spacing-3-x-large);

    @include above-tablet {
        padding-right: var(--parlour--spacing-4-x-large);
        padding-left: var(--parlour--spacing-4-x-large);
    }
}

.parlour-main > div > .parlour-container--no-gap + .parlour-container--no-gap {
    margin-top: var(--parlour--spacing-2-x-large);
}

.parlour-main > div > .parlour-container--no-gap.alignfull + .parlour-container--no-gap.alignfull {
    margin-top: 0;
}

.parlour-container--pale,
.parlour-container--light,
.parlour-container--medium,
.parlour-container--dark,
.parlour-container--white {
    padding-block: var(--parlour--spacing-5-x-large);
}

.parlour-container--pale {
    background-color: var(--parlour--color-neutral-50);
    border: 1px solid var(--parlour--color-neutral-50);
}

.parlour-container--light {
    background-color: var(--parlour--color-neutral-200);
}

.parlour-container--medium {
    background-color: var(--parlour--color-neutral-900);
    color: var(--parlour--color-white);

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--parlour--color-white);
    }
}

.parlour-container--dark {
    background-color: var(--parlour--color-neutral-950);
    color: var(--parlour--color-white);

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--parlour--color-white);
    }
}

.parlour-container--white {
    background-color: var(--parlour--color-white);
}

.parlour-container--light,
.parlour-container--white {
    // border: 1px solid var(--parlour--color-neutral-300);
    border: 1px solid var(--parlour--color-neutral-300);

    &.alignfull {
        border-inline: none;

        & + .parlour-container--has-border {
            border-top: none;
        }
    }
}

.parlour-container--full {
    width: 100%;
}

.parlour-container--radius-sm:not(.alignfull) {
    border-radius: var(--parlour--radius-sm);
}

.parlour-container--radius-md:not(.alignfull) {
    border-radius: var(--parlour--radius-md);
}

.parlour-container--radius-lg:not(.alignfull) {
    border-radius: var(--parlour--radius-lg);
}

.parlour-container--radius-xl:not(.alignfull) {
    border-radius: var(--parlour--radius-xl);
}

.parlour-container--radius-full:not(.alignfull) {
    border-radius: var(--parlour--radius-full);
}

.parlour-container--radius-none:not(.alignfull) {
    border-radius: 0;
}

// .parlour-container--grey,
// .parlour-container--black,
// .parlour-container--light-gradient,
// .parlour-container--hero {
//     padding: var(--parlour--spacing-large);

//     @include above-tablet {
//         padding: var(--parlour--spacing-x-large);
//     }
// }

// .parlour-container--grey,
// .parlour-container--black,
// .parlour-container--light-gradient {
//     &.aligncontent {
//         max-width: calc(
//             var(--parlour--layout-content-size) + (var(--parlour--spacing-large) * 2)
//         ) !important;

//         @include above-tablet {
//             max-width: calc(
//                 var(--parlour--layout-content-size) + (var(--parlour--spacing-x-large) * 2)
//             ) !important;
//         }
//     }
// }

// .parlour-container--grey {
//     background-color: var(--parlour--color-grey-pale);

//     & + .parlour-container--grey {
//         padding-top: 0;
//     }

//     & + .parlour-container--grey.alignwide {
//         margin-block-start: 0;
//     }
// }

// .parlour-container--black {
//     background-color: var(--parlour--color-black);

//     & + .parlour-container--black {
//         padding-top: 0;
//     }

//     & + .parlour-container--black.alignwide {
//         margin-block-start: 0;
//     }
// }

// .parlour-container--light-gradient {
//     background-image: var(--parlour--gradient-white-to-pale-grey);

//     & + .parlour-container--light-gradient {
//         padding-top: 0;
//     }

//     & + .parlour-container--light-gradient.alignwide {
//         margin-block-start: 0;
//     }
// }

// .parlour-container--grey:not(.alignfull),
// .parlour-container--black:not(.alignfull),
// .parlour-container--light-gradient:not(.alignfull) {
//     border-radius: var(--parlour--radius-md);
// }

// .parlour-main .parlour-container--grey.alignfull:last-child,
// .parlour-main .parlour-container--black.alignfull:last-child,
// .parlour-main .parlour-container--light-gradient.alignfull:last-child {
//     margin-bottom: calc(-1 * var(--parlour--spacing-large));
// }

// .parlour-main .parlour-container--grey.alignfull:first-child,
// .parlour-main .parlour-container--black.alignfull:first-child,
// .parlour-main .parlour-container--light-gradient.alignfull:first-child {
//     margin-top: calc(-1 * var(--parlour--spacing-large));
// }
