.parlour-main:focus {
    outline: none;
}

.parlour-main > * + * {
    margin-block-start: var(--parlour--spacing-medium);
    margin-block-end: 0;
}

.parlour-main a {
    font-weight: 700;
    text-decoration: none;
    transition: color 0.25s ease;
}

.parlour-main a:hover {
    text-decoration: underline;
    transition: color 0.25s ease;
}

.parlour-main--padding {
    padding-block: var(--parlour--spacing-4-x-large);
}
