.octave-site-header {
    padding-block: var(--octave--spacing-medium);
    padding-inline: var(--octave--root-padding-x);
    background-color: var(--octave--color-white);
    border-bottom: 1px solid var(--octave--color-neutral-400);
}

.octave-site-header__branding p {
    // font-family: var(--octave--font-family-inter-tight);
    // font-size: var(--octave--font-size-medium);
    padding: 0;
    margin: 0;

    font-family: var(--octave--font-family-source-serif-4);
    font-size: var(--octave--font-size-large);
    font-style: italic;

    a {
        font-weight: var(--octave--font-weight-normal);
        color: var(--octave--color-accent-secondary);
        text-decoration: none;

        span.octave-site-header__title-accent {
            font-family: var(--octave--font-family-inter-tight);
            font-size: var(--octave--font-size-large);
            font-style: normal;
            color: var(--octave--color-neutral-900);
        }

        &:hover,
        &:focus-visible {
            color: var(--octave--color-accent-secondary);

            span.octave-site-header__title-accent {
                color: var(--octave--color-accent-secondary);
            }
        }
    }
}

.octave-site-header__nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: var(--octave--spacing-medium);

    li {
        font-family: var(--octave--font-family-inter-tight);
        font-size: var(--octave--font-size-small);
        padding: 0;
        margin: 0;

        a {
            font-weight: var(--octave--font-weight-normal);
            color: var(--octave--color-neutral-950);
            text-decoration: none;
        }
    }
}
