@use '../../styles/c2b/parlour-variables' as *;

.parlour-buttongroup {
    display: flex;
    flex-wrap: wrap;
    gap: var(--parlour--spacing-2-x-small);

    @include above-tablet {
        flex: 1 1 0%;
    }
}

.parlour-buttongroup--justify-start {
    justify-content: flex-start;
}

.parlour-buttongroup--justify-center {
    justify-content: center;
}

.parlour-buttongroup--justify-end {
    justify-content: flex-end;
}
