.parlour-section-header {
    padding-bottom: var(--parlour--spacing-large);
    border-bottom: 1px solid currentColor;
    margin-bottom: var(--parlour--spacing-2-x-large);
}

.parlour-section-header__prefix {
    margin: 0 0 var(--parlour--spacing-medium);
    font-family: var(--parlour--font-family-jetbrains-mono);
    font-size: var(--parlour--font-size-2-x-small);
    font-weight: var(--parlour--font-weight-normal);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--parlour--color-neutral-600);
}

.parlour-section-header__title {
    margin: 0;
    font-size: var(--parlour--font-size-2-x-large);
    font-weight: var(--parlour--font-weight-normal);
    line-height: 1.1;
    letter-spacing: -1px;
    color: var(--parlour--color-neutral-950);
}

.parlour-container--dark,
.parlour-container--medium {
    .parlour-section-header__prefix {
        color: var(--parlour--color-neutral-300);
    }
}
