.parlour-hero-header__title {
    font-size: var(--parlour--font-size-4-x-large);
    font-weight: var(--parlour--font-weight-normal);
    color: var(--parlour--color-neutral-900);
    line-height: 1.1;
    letter-spacing: -2px;
    margin-top: 0;
}

.parlour-hero-header__title-accent {
    display: block;
    font-family: var(--parlour--font-family-source-serif-4);
    font-weight: var(--parlour--font-weight-extra-light);
    font-style: italic;
}

.parlour-hero-header__prefix {
    font-size: var(--parlour--font-size-medium);
    font-weight: var(--parlour--font-weight-light);
    font-style: italic;
    padding-bottom: var(--parlour--spacing-3-x-large);
    margin: 0;
}

.parlour-hero-header ul.parlour-hero-header__stats {
    display: flex;
    gap: var(--parlour--spacing-2-x-large);
    font-size: var(--parlour--font-size-small);
    font-weight: var(--parlour--font-weight-light);
    margin-top: var(--parlour--spacing-x-large);
    padding-top: var(--parlour--spacing-medium);
    border-top: 1px solid var(--parlour--color-neutral-300);
    list-style: none;
    padding-left: 0;
}

.parlour-container--dark,
.parlour-container--medium {
    .parlour-hero-header__title {
        color: var(--parlour--color-white);
    }
}
