@use '../c2b/parlour-variables' as *;

// Global width classes for Gutenberg alignments, to be used in Section component
.alignsmall {
    max-width: var(--parlour--layout-small-size) !important;
}

.aligncontent {
    max-width: var(--parlour--layout-content-size);
}

.alignwide {
    max-width: var(--parlour--layout-wide-size);
}

.alignfull {
    max-width: var(--parlour--layout-full-size);
}

// Spacing between parlour layout sections
.parlour-main > div > .parlour-layout + .parlour-layout,
.parlour-main > div > .parlour-layout + :not(.parlour-layout),
.parlour-main > div > :not(.parlour-layout) + .parlour-layout {
    margin-top: var(--parlour--spacing-4-x-large);
}

// .parlour-main > * > .parlour-layout.alignfull + .parlour-layout.alignfull {
//     margin-top: 0;
// }

// .parlour-layout > .has-global-padding {
//     > * + * {
//         margin-block-start: var(--parlour--spacing-medium);
//     }

//     > .parlour-layout + *,
//     > * + .parlour-layout {
//         margin-block-start: var(--parlour--spacing-medium);

//         @include above-tablet {
//             margin-block-start: var(--parlour--spacing-large);
//         }
//     }
// }

// .parlour-main--padding .parlour-layout.alignfull:first-child {
//     margin-top: calc(-1 * var(--parlour--spacing-large));
// }
